.main {
    background-color: white;
    z-index: 1;
    height: 70px;
    width: 60%;
    position: fixed;
    top: 45px;
    left: 320px;
    border-radius: 30px;
}

.n {
    color: rgb(200, 97, 114);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.na{
    top: 50px;
}

